.title{
	margin-top:0;
	margin-bottom: 0;
}
.title + hr{
	margin-top:0;
}
.pengaduan-form h2{
	text-transform: uppercase;
	color: #354B77;
	font-size: 26px;
}
.pengaduan-form label{
	text-transform: capitalize;
	font-size: 13px;
	color: #9499A3;
	font-weight: normal;
	text-align: left !important;
}