.list-pengaduan{
	padding: 15px;
	border: 1px solid gray;
	box-shadow: 0px 0px 0px black;
	margin-bottom: 20px;
}
.list-pengaduan h2, .keterangan-status h3{
	margin:0;
}
.tanggal-pengaduan, .kategori {
	text-align: right;
}
.gambar-pengaduan{
	padding-left: 0;
}
.keterangan-status{
	padding: 15px;
	border: 1px solid gray;
	box-shadow: 0px 0px 0px black;
	margin-bottom: 20px;
}

.status-pengerjaan{
    padding: 15px;
    border: 1px solid gray;
    box-shadow: 0px 0px 0px black;
    margin-bottom: 20px;
}

.komentar + .clearfix{
	margin-bottom: 10px;
}

.konfirmasi-section .btn{
	text-transform: none;
	border: 1px solid transparent;
  	border-radius: 4px;
	padding: 6px 12px;
}

#bootstrapSelectForm .selectContainer {
     Adjust feedback icon position 
    left: 0px;
    height: 38px;
}

#pilihanstatus{
    margin-left: -15px;
    margin-bottom: 15px;
    margin-top: 15px;
    height: 38px;
}

#inputLaporan{
    margin-left: -15px;
    height: 38px;
}

.laporan{
    height: 38px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 4px;
}

#uploadButton{
    //margin-right: 80px;
}

/* Large */
@media only screen and (min-width: 1200px) {

}

/* Medium */
@media only screen and (max-width: 992px) {
	.gambar-pengaduan{
		text-align:center;
	}
	.konfirmasi-section .keluhan{
		padding-right: 0;
	}
}

/* Small */
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 768px) {
	.konfirmasi-section .keluhan{
		padding-left: 0;
		margin-top: 10px;
	}
}

/* Extra small */
@media only screen and (max-width: 767px) {
}